{% extends 'base.html.twig' %}

{% block title %}My Account - Library{% endblock %}

{% block content %}
<h1>My account</h1>
welcome {{app.user.nom}} in your account.
<hr>

{% if is_granted("ROLE_ADMIN") %}
    <a href="/admin">Are you an administrator, accessing the backoffiche?</a><br>
{% endif %}

<a href="{{path('account_password')}}">Change my password</a><br>

<br><br><br><br><br><br><br><br>
{% endblock %}
