{% extends 'base.html.twig' %}

{% block title %}My Account - Library{% endblock %}

{% block content %}
<h1>Change my password</h1>
<hr>
<a href="{{path('account')}}">Return to my account</a><br>
<hr>

{% if notification %}
  <div class="alert alert-info">{{ notification }}</div>
{% endif %}

{{form(form)}}


{% endblock %}
