{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
<h3 class="text-center">Our best documents</h3>
<p class="text-center">Discover the most requested documents.</p>
<div class="row justify-content-md-center">
    {% for product in products %}
        <div class="col-md-2 text-center">
            {% include "product/single_product.html.twig" %}
        </div>
    {% endfor %}
</div>

<!-- START THE FEATURETTES -->
<div class="row featurette">
    <div class="col-md-7">
        <h3 class="featurette-heading">An hour of reading is the ultimate remedy against the dislikes of life.</h3>
        <p class="lead">
            Basically, reading is synonymous with relaxation. But beyond this
             recognized quality, 
            the theme of a book can also bring us peace of mind and considerable inner peace.
        </p>
    </div>
    <div class="col-md-5">
        <img src="{{asset('images/first.jpg')}}" class="img-fluid" alt="Un meilleur des livres">
    </div>
</div>
<hr>


<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">Fun reading is as good for your health as exercising your body.</h3>
        <p class="lead">
            Like all other muscles in the body, the brain needs 
            training to stay strong and healthy. 
            The rule we use it or lose it ”applies perfectly to our brain.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{asset('images/second.jpg')}}" class="img-fluid" alt="Un meilleur des livres">
    </div>
</div><br><br>
{% endblock %}