{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block content %}
    <h3>Contact</h3>
    <p>
        You can contact us directly to order your documents or obtain more information.
    </p>
    <hr>
    <div class="contact-content">
        {% for contact in contacts %}
           <a href="">
               {% if contact.valeur == "numero" %}
               <p><a href="#" class="contact-value"><i class="fas fa-phone-volume"></i> {{contact.number}}</a></p>
               {% else %}
               <p><a href="#" class="contact-value"><i class="fas fa-envelope-open"></i> {{contact.number}}</a></p>
               {% endif %}
            </a>
        {% endfor %}
    </div><br><br>
{% endblock %}
