{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block content %}

    <h3>Informations</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi sem, 
        commodo nec consectetur sit amet, rutrum vitae risus. Vivamus congue 
        tempus nunc et laoreet. Suspendisse auctor justo ut purus porttitor 
        bibendum. Maecenas bibendum nec sem et maximus. 
        Mauris enim mauris, venenatis sed nulla eget, lobortis dignissim erat.
    </p>
    <hr>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi sem, 
        commodo nec consectetur sit amet, rutrum vitae risus. Vivamus congue 
        tempus nunc et laoreet. Suspendisse auctor justo ut purus porttitor 
        bibendum. Maecenas bibendum nec sem et maximus. 
        Mauris enim mauris, venenatis sed nulla eget, lobortis dignissim erat.
    </p><br><br><br>

{% endblock %}
